######## Change variables to suit your needs

######## WORKDIR is parent directory to store all project directories
WORKDIR="/home/max/timelapse_photos"

######## Variables for creation of project directories
TIMENOW=$(date +"%m.%d.%Y_%H:%M:%S")
NEWDIR=$(echo $TIMENOW)_timelapse
PROJDIR=$(echo "$WORKDIR/$NEWDIR")

####### Default camera settings.
FRAMES=1500  # Number of frames
INTER=5 # Time between photo captures
